body {
  font-family: 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
  padding: 20px;
}

kbd {
  font-family: monospace;
}

#board {
  position: relative;
  padding: 0;
  margin: 0;
  width: 200px;
  height: 200px;
  background-color: red;
  font-size: 10px;
  line-height: 25px;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

#board:after {
  content: "";
  display: table;
  clear: both;
}

#board .square {
  width: 25px;
  height: 25px;
  float: left;
}

#board .square.light { background-color: #f3f3f3; color: black; }
#board .square.dark  { background-color: #0e0e0e; color: white; }